
.cont {
	*display: inline;
	zoom: 1;
}
.cont-2 {
	*display: inline;
	zoom: 1;
}
.colwrapper {
	*display: inline;
	zoom: 1;
}
.cont-3 {
	*display: inline;
	zoom: 1;
}
.colwrapper-2 {
	*display: inline;
	zoom: 1;
}
.cont-4 {
	*display: inline;
	zoom: 1;
}
.cont-6 {
	*display: inline;
	zoom: 1;
}
.cont-7 {
	*display: inline;
	zoom: 1;
}
.colwrapper-3 {
	*display: inline;
	zoom: 1;
}
.cont-8 {
	*display: inline;
	zoom: 1;
}
.colwrapper-4 {
	*display: inline;
	zoom: 1;
}
.cont-10 {
	*display: inline;
	zoom: 1;
}
.cont-12 {
	*display: inline;
	zoom: 1;
}
.cont-13 {
	*display: inline;
	zoom: 1;
}
.cont-14 {
	*display: inline;
	zoom: 1;
}
