@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;font-size:12px;font-weight:400;background:
#FFF;font-style:italic; font-family: sans-serif;}
/*
主流电脑分辨率选用1280-1024
包裹层选用 宽为1000px； 高为1200px;自动居中；
头部选用 宽为1000px; 高为200px；
主体选用  宽为1000px;高为800px;
  左侧选用
  右侧选用 生成图片：375x667；
版记选用 宽为1000px;高为200px;
*/

.warp{
		width:100%
		height:1000px;
		margin:0 auto;
        background-color: navajowhite;
}
	 /*包裹层*/

.header{
			/*width:30%;
			height:60px;
			background:cornflowerblue;
			margin-bottom:20px;
            margin: 20px auto;
            border:2px solid;
            border-radius:25px;
            text-align: center;
            line-height: 60px;
            font-size:25px;
            font-family:Cursive,"微软雅黑",Georgia,Serif;
            font-style: normal;*/
            width: 50%;
            height: 100px;
            background:cornflowerblue;
            margin: 0 auto 20px;
            border-radius:20px;


	   }/*头部*/
    .header h3{
        text-align: center;
        font-size: 25px;
        font-family:Cursive,"微软雅黑",Georgia,Serif;
        font-style: normal;
        background-color: red;
        border: 1px solid #000000;
    }
    .header h5{
        float:right;
        background-color: powderblue;
    }

	 

.mainBody{
            margin:0 auto;
		 }/*主体*/

		.left{
				float:left;
				background: #9cff46;
			    width: 500px;
                padding: 20px;
				margin-left:40px;
                border-radius:25px;
				}/*主体左面输入部分*/
	    .middle{
             float:left;
             width:85px;
             height: 60px;
            background-color: navajowhite;
             margin-left: 50px;
             margin-top: 300px;
        }
        #makeUpBtn{
            width: 85px; height: 60px;
            color: darkorange;
            font-size: 25px;

            font-style: normal;
            -webkit-transition: 0.2s ease;
            -moz-transition: 0.2s ease;
            -ms-transition:0.2s ease;
            -o-transition: 0.2s ease;
            transition:0.2s ease;

        }
        #makeUpBtn:hover{
            color: darkblue;
            -webkit-transform: rotate(360deg) scale(0.8);
            -moz-transform: rotate(360deg) scale(0.8);
            -ms-transform: rotate(360deg) scale(0.8);
            -o-transform: rotate(360deg) scale(0.8);
            transform: rotate(360deg) scale(0.8);
            
        }
		.right{
				float:right;
                padding: 20px;
                width: 500px;
				background:#CCC;
				margin-right:40px;
                border-radius:25px;
				}/*主体右面显示部分*/
			  .right.photo{
						 width: 380px;
						 height: 670px;
						 background:#CCCCCC;

					  }
			
	
.footer{
            clear:both;
			background:#CCCCCC;
			height:100px;
			margin-top:20px;
	}/*版记部分*/

#preview1{width:40px;height:40px;border:1px solid #000;overflow:hidden;}
#imgHead1 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);}
#preview2{width:40px;height:40px;border:1px solid #000;overflow:hidden;}
#imgHead2 {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);}
